<app-top-bar></app-top-bar>


<div class="container">
    <div class="row">
        <h1 class="main_title">Página de proyección y análisis de cierre</h1>
            <h3>{{client.name + ' ' + client.lastName}}</h3>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h6 class="card-subtitle mb-2 text-muted">Edad: {{client.age}}</h6>
              <p class="card-text">Fecha de nacimiento: {{client.dateBorn}}</p>
              <p class="card-text">Fecha de posible muerte: {{client.possibleDateOfDeath}}</p>
          </div>
    </div>
</div>
